:host {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 700px;
  row-gap: 10px;
  margin: auto;
  padding: 10px;

  input:not([type='checkbox']) {
    font-size: 1.4em;
    width: 100%;
    margin-top: 1em;

    border-radius: 3px;
    border: 2px solid lightgrey;
    padding: 5px 10px;
  }

  .todo-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-items: center;

    section {
      height: auto;
      width: calc(100% - 40px);
      padding: 0px 20px;

      // for a scrollable body?
      // overflow-x: auto;

      h2 {
        text-align: center;
        margin: 0px;
        padding: 20px 0px;
        font-size: 2em;
        font-weight: 200;
        user-select: none;

        // for a scrollable body?
        // background-color: inherit;
        // position: sticky;
        // top: 0;
        // z-index: 10;
      }

      label {
        border-radius: 5px;
        padding: 10px;
        background-color: #eee;
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 5px;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 1em;
        line-height: 1;
        user-select: none;

        &.done {
          background-color: rgb(180, 240, 100);
        }

        button {
          margin-left: 20px;
          height: 1em;
          box-sizing: border-box;
          padding: 0 0.5em;
          line-height: 1;
          background-color: transparent;
          border: none;
          color: rgb(170, 30, 30);
          opacity: 0;
          transition: opacity 0.2s;
        }

        &:hover button {
          opacity: 1;
          cursor: pointer;
        }

        input {
          cursor: pointer;
        }
      }
    }
  }
}
